.view-controls {
  z-index: 1;
  background: #333;
  color: white;
  position: absolute;
  top: 0;
  text-align: left;
  padding: 1rem;
  left: 0;
}

input {
  width: 10%;
  float: left;
}

button {
  display: block;
  text-align: center;
  width: 100%;
  margin: 1rem 0
}

label {
  display: inline-block;
}
